* {
   box-sizing: inherit;
}

html {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 62.5%;
   box-sizing: border-box;
   border-radius: 8px;
}

body {
   font-size: 1.5rem;
   line-height: 1.5;
}

.wrapper {
   display: flex;
   flex-direction: column;
   width: 200px;
}

.logo-img {
   height: 50px;
}

.text-field {
   position: relative;
   margin-top: 16px;
}

.text-field:last-child {
   margin-bottom: 8px;
}

.text-field label {
   display: inline-block;
   font-weight: 600;
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 10px;
   background-color: #fff;
   padding: 1px 5px;
   font-size: 12px;
   transform: translateY(-50%);
   color: #6e5af9;
}

.text-field input {
   padding: 8px;
   display: block;
   width: 100%;
   font-size: 14px;
   border: 1px solid #384389;
   border-radius: 4px;
   background-color: transparent;
   color: #201736;
   outline: none;
}

.schedule,
.score {
   --color: #384389;
   font-family: 'Poppins', sans-serif;
   color: white;
   padding: 8px 30px;
   margin-top: 8px;
   border-radius: 4px;
   background-color: transparent;
   cursor: pointer;
   font-weight: 500;
   outline: none;
   border: 1px solid var(--color);
   background-color: var(--color);
   font-size: 16px;
   position: relative;
   isolation: isolate;
}

.schedule:hover,
.score:hover {
   background-color: #18257d;
}

.error-msg {
   color: rgb(232, 39, 10);
}

/* Animation */
.circle-loading {
   display: none;
   width: 30px;
   height: 30px;
   border-radius: 99rem;
   position: relative;
   margin: 8px auto;
}

.circle-loading:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: inherit;
   border: 4px solid transparent;
   border-right-color: #ff6bcb;
   border-bottom-color: #ffa400;
   animation: circleLoading 1s forwards infinite linear;
}

@keyframes circleLoading {
   to {
      transform: rotate(360deg);
   }
}
